.card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 30rem;
  height: auto;
  display: inline-flex;
  margin: 1rem 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.yarn-img {
  justify-self: center;
  height: 12rem;
  width: auto;
}

h1, h3, h4 {
  margin-block: 0;
}

#likes-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: fit-content;
  margin-block: 1.2rem;
}

#btn-container {
  display: flex;
}

.thumb-up-btn .thumb-down-btn {
  margin-inline: 1rem;
}

.thumb-up-btn:hover {
  background-color: green
}

.thumb-down-btn:hover {
  background-color: red;
}

#brands , #weights {
  display: inline-block;
  padding: .5rem;
}

#create-new-yarn {
  display: inline-flex;
  gap: 10px;
  flex-direction: row;
}