
body {
  background-image: url('images/mel-poole-vJgD2A1CPjE-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

.card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 30rem;
  height: auto;
  display: inline-flex;
  margin: 1rem 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}

.yarn-img {
  justify-self: center;
  height: 12rem;
  width: auto;
}

h1, h3, h4 {
  margin-block: 0;
}

.thumb-up-btn {
  margin-block: 0.5rem;
  padding-block: 0.75rem;
  width: 6rem;
  
}

.thumb-up-btn:hover {
  background-color: lightblue;
  opacity: 0.6;
}

.like-btn > p {
  margin-block: 0.2rem;
}

#sorting-container {
  display: inline-flex;
  flex-direction: column;
  padding: .5rem;
  justify-content: center;
}

#create-new-yarn {
  display: inline-flex;
  gap: 10px;
  flex-direction: row;
}

#weights, #brands {
  padding: 3px;
}

#reset-btn {
  margin: 3px;
}

header > p {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  font-size: 50px;
}

div#header-img{
  display: flex;
  justify-content: center;
  height: 400px;
}

header > img {
width: 30%;
}

#like-btn > p {
  margin-block: 0.3rem;
}

#like-btn > h5 {
  margin-block: 0.3rem;
}

#yarn-comments > h5 {
  margin-block: 0.5rem;
}

#yarn-comments ul {
  padding-inline: 0;
}

li {
  text-align: left;
}